@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Hi! My name is Paweł and I am software engineer with specialization in Deep Learning field.
This is website about me, my life and observations I make in life. It's not only about deep learning and programming.
I take here view on life, diet, exercise, tools to become more prodictive and have time to enjoy life, not just to work more.</p>
