<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7e6c8835-87e8-4d03-8f9e-505af9ca54fe/resourceGroups/HomePageResourceGroup/providers/Microsoft.Web/sites/PawelsPortfolio</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://pawelsportfolio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pawelsportfolio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PawelsPortfolio</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PawelsPortfolio</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>